h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h5 {
  padding-right: 10px;
  padding-top: 10px;
}

/*-----SectionOne---------------------------------------------------------------------------*/

.section-one {
  /* центрируем*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-image: url('/6_10_password_generator_page/img/Fon_PasswordGenerator.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  align-items: center;
  text-align: center;
  background: transparent;
  border: transparent;
}

.h4__item {
  font-weight: 400;
  /* Жирность шрифта */
  padding: 16px;
}

/* Ползунок при наведении меняет цвет, как и кнопка */
input[type=range]::-webkit-slider-thumb:hover {
  background-color: RGB(66, 70, 73);
}

/* Стилизуем по id вместо класса*/
#outputPassword {
  /* Функция calc() CSS позволяет выполнять вычисления 
при указании значений свойств CSS. */
  /* Равная вычисленному значению свойства font-size для основного текста. 
  Если свойство font-size установлено для основного текста, то rem единицы 
  связываются с этим свойством. 
  Это значит, что 1rem равен размеру текста для тега html 
  (в большинстве браузеров по умолчанию это 16px).
  1rem всегда будет принимать значение, равное 16px, и не имеет значения 
  где вы примените его (до тех пор, пока не поменяете font-size у элемента html)*/
  /* 
  Viewport Width (vw) – это процентная величина от общей ширины области просмотра.
   */
  font-size: calc(1.325rem + .7vw);
}

.btn__generator {
  width: 200px;
}

/* Стилизация диапазона (дорожки и ползунка) */
input[type=range] {
  /* Свойство -webkit-appearance — изменяет внешний вид кнопок и 
  других элементов управления, */
  -webkit-appearance: none;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 200px;
}

/* Дорожка */
input[type=range]::-webkit-slider-runnable-track {
  width: 200px;
  height: 12.8px;
  cursor: pointer;
  background: #636163;
  border-radius: 3px;
}

/* Ползунок */
input[type=range]::-webkit-slider-thumb {
  border: 0px solid #212529;
  height: 20px;
  width: 30px;
  border-radius: 3px;
  background: #212529;
  cursor: pointer;
  /* Свойство -webkit-appearance — изменяет внешний вид кнопок и 
  других элементов управления, */
  -webkit-appearance: none;
  margin-top: -3.6px;
}

/* Форма вывода длины пароля */
.form-label {
  font-size: 1rem;
  margin-bottom: 30px;
}